    /*
    background-color: rgb(236, 232, 231);
    background-color: rgb(31, 132, 126);
    background-color:rgb(115, 73, 130);
    */
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, article,li, a{
    font-family: degular;
    text-decoration: none;
}
@font-face {
    font-family: degular;
    src: url(/fonts/fonnts.com-DegularDemo-Regular.otf)
}
    ;
@font-face {
    font-family: europa;
    src: url(/fonts/EuropaNuovaRegular.ttf)
}

.offerings-intro-image{
    box-shadow: inset 2500px 0 0 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-size: cover;
    background-position: center;  
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.offerings-intro-image h1{
    color: #ece8e7;
}
.list-of-offers{
    padding: 50px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #ece8e7;
}
.total-offers{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    margin: 0px 0px 50px 0px;
}
.total-offers a{
    width: 30%;
    height: 25vh;
    background-color: rgb(31, 132, 126);
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 2500px 0 0 0 rgba(0, 0, 0, 0.2);
}


#schedule{
    color:#734982;
    margin: 20px;
    border: solid 2px;
    padding: 10px 20px;
    transition: all ease-in-out 0.5s;
}
#schedule:hover{
    background-color:#734982;
    color: #ece8e7;
    margin: 20px;
    border: solid 2px;
    padding: 10px 20px;
    transition: all ease-in-out 0.5s;

}

.qigong-intro{
  background-image: url("https://www.dropbox.com/scl/fi/27tg5yu2p89vazzd8wxf2/IMG_9172.JPG?rlkey=n1p2detqixxxi064ksyzp6xc2&st=hnei9wed&raw=1");
 background-repeat: no-repeat;
 background-position: 0px -250px;
 height: 82vh;
}
.qigong-wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    color: #734982;
}
.qigong-wrapper h3{
    font-size: 30px;
    line-height: 38px;
    margin: 40px 0px;
}
.qigong-details{
    width: 80%;
    padding: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.inner-qigong-details{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: first baseline;
}
.inner-qigong-details h4{
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 20px;
}
.inner-qigong-details p{
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0px;
}
.inner-qigong-details ul{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: first baseline;
    padding: 0px 0px 0px 30px;
}
.inner-qigong-details ul li{
    font-size: 20px;
    line-height: 30px;
    list-style-type: square;
}
.inner-qigong-details h6{
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0px;
}
.inner-qigong-details article{
    font-size: 20px;
    line-height: 30px;
}
.inner-qigong-details a{
    background-color: #734982;
    padding: 10px 40px;
    margin: 20px 0px;
    transition: ease-in-out 0.5s;
}
.inner-qigong-details a:hover{
    background-color: #ece8e7;
    padding: 10px 40px;
    margin: 20px 0px;
    color: #734982;
    transition: ease-in-out 0.5s;
}

.qigong-video{
    width: 40%;
    display: flex;
    flex-flow: row;
    justify-content: right;
    align-items: center;
}
.bg-video {
      width: 90%;
      height: 80%;
      object-fit: cover;
      z-index: -1;
}

.slide-show-wrapper-qigong{
    background-color:#1F847E;
    padding: 20px 0px 100px 0px;
    width: 100%;
    height: 0px;
}
   .slider {
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      padding: 20px 0;
    }

    .slide-track {
      display: inline-block;
      animation: scroll 100s linear infinite;
    }

    .slide {
      display: inline-block;
      margin: 0 50px;
      font-size: 25px;
      font-family: degular;
      color: #ECE8E7;
    }
    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }
.book-a-session{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-a-session a{
    color: #734982;
    font-size: 30px;
    border-bottom: solid 2px #734982;
    padding: 10px 0px;
    transition: all ease-in-out 0.5s;
}
.book-a-session a:hover{
    color: #ECE8E7;
    font-size: 30px;
    border-bottom: solid 2px #ECE8E7;
    padding: 20px 20px;
    background-color: #734982;
    transition: all ease-in-out 0.5s;
}
.photos-qigong{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 20px;
}
.photos-qigong .photos{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 30%;
    margin: 20px 0px;
}
.photos-qigong .photos-1{
    background-image: url(https://www.dropbox.com/scl/fi/d8s6q38bth1l2927k34uu/qigong-sunset.jpg?rlkey=6q60ochyxfu08rpe2mqpubu3h&st=guzxpeo1&raw=1);
}
.photos-qigong .photos-2{
    background-image: url(https://www.dropbox.com/scl/fi/gm5bzk9xro0zibrv08056/Nicole-Fountain-of-32-drop.JPG?rlkey=cqz4fp7hcvgh1r18elcoknajj&st=0cckevf5&raw=1);
}
.photos-qigong .photos-3{
    background-image: url(https://www.dropbox.com/scl/fi/6r6hh2kq57f1hkub73yfe/lotus-qijong.jpg?rlkey=b4zzv6668pe3mixeh5up8jd2f&st=dc9j9cjd&raw=1);
}

/*
BREATHWORK
*/
.breathwork-intro-image{
    height: 60vh;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: first baseline;
    align-items: center;
    padding: 200px 0px 0px 0px;
}
.breathwork-intro-image h1{
    font-size: 50px;
    color: #ECE8E7;
    line-height: 60px;
}
.breathwork-intro-image h6{
    font-size: 25px;
    color: #ECE8E7;
    line-height: 35px;
    width: 40%;
    text-align: center;
    font-weight: 100;
}
.expectations{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 50px 0px;
    margin: 20px 0px;
}
.expectations article{
    font-size: 25px;
    padding: 10px 40px;
    border-radius: 200px;
    color: #d9f8f6;
    transition: all ease-in-out 0.5s;
     box-shadow: inset 2500px 0 0 0 rgba(0, 0, 0, 0.5);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.expectations article:hover{
    transition: all ease-in-out 0.5s;
    background-position: top;
    font-size: 20px;
}
.contact-us{
    padding-bottom: 10px;
    border-bottom: solid 2px #ECE8E7;
    font-size: 25px;
    transition: all ease-in-out 0.3s;
}
.contact-us:hover{
    padding: 10px 20px;
    background-color: #1f847e;
    border: none;
    transition: all ease-in-out 0.3s;

}
.what-is-breathwork{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: start;
    padding: 100px;
    background-color: #ECE8E7;
}
.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: left 3s ease-in-out;
  overflow: hidden;

  /* dark overlay for readability */
  box-shadow: inset 2500px 0 0 0 rgba(0, 0, 0, 0.5);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper.active {
  left: 0;
}

/* First wrapper background */
.wrapper.first {
  background-image: url("https://www.dropbox.com/scl/fi/27tg5yu2p89vazzd8wxf2/IMG_9172.JPG?rlkey=n1p2detqixxxi064ksyzp6xc2&st=hnei9wed&raw=1");
}

/* Second wrapper background */
.wrapper.second {
  background-image: url("https://www.dropbox.com/scl/fi/27tg5yu2p89vazzd8wxf2/IMG_9172.JPG?rlkey=n1p2detqixxxi064ksyzp6xc2&st=hnei9wed&raw=1");
}

.wrapper section {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}
.video-background {
      width: 35%;
      height: 80%;
      object-fit: cover; 
}
.left-content, .right-content{
    width: 25%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: start;
}
.left-content h6{
    color: #1f847db3;
    line-height: 30px;
    font-size: 25px;
    width: 100%;
    padding: 20px 0px;
}
.what-is-breathwork h1{
    color: #1F847E;
    line-height: 55px;
}
.what-is-breathwork h2{
    color: #1f847db3;
    line-height: 55px;
    font-size: 25px;
}
.what-is-breathwork p{
    color: #1F847E;
    font-size: 22px;
    line-height: 30px;
}
.what-is-breathwork h6{
    font-size: 20px;
    line-height: 30px;
    width: 1005;
    text-align: center;
    color: #ECE8E7;
    background-color: #1f847e;
    margin: 30px 0px;
}
.what-is-breathwork ul{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 5px 30px;
}
.what-is-breathwork ul li{
    font-size: 22px;
    line-height: 30px;
    color: #1F847E;
    list-style: square;
    margin: 5px 0px;
}
.left-content h3{
    color: #1F847E;
    line-height: 33px;
    font-size: 25px;
    margin: 30px 0px;
}


.pricing-card h2 {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 0px;
}

.pricing-card {
  background: #ECE8E7;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 40px 30px;
  max-width: 100%;
  margin: 20px 0px 40px 0px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.price span {
  font-size: 18px;
  color: gray;
}

.details {
  font-size: 16px;
  margin: 15px 0;
  color: #333;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
}

.pricing-card ul li {
  margin: 10px 0;
  font-size: 22px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: #1f847e;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #16635d;
}

.right-content article{
    font-size: 22px;
    line-height: 30px;
    color: #1F847E;
    list-style: square;
    margin: 5px 0px;
}
.left-content ul{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 5px 30px;
}
.left-content ul li{
    font-size: 22px;
    line-height: 30px;
    color: #1F847E;
    list-style: square;
    margin: 5px 0px;
}
.right-contact-us{
    color: #1F847E;
    padding-bottom: 10px;
    border-bottom: solid 2px #1F847E;
    font-size: 25px;
    transition: all ease-in-out 0.3s;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.right-contact-us:hover{
    color: #ECE8E7;
    padding-bottom: 10px;
    border-bottom: solid 2px #1F847E;
    transition: all ease-in-out 0.3s;
}
.right-content h3{
    color: #1F847E;
    line-height: 33px;
    font-size: 25px;
    margin: 30px 0px;
}
.photos-breathwork{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 20px;
}
.photos-breathwork .photos{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 30%;
    margin: 20px 0px;
}
.photos-breathwork .photos-1{
    background-image: url(https://www.dropbox.com/scl/fi/767z8zriiennxgx7f2k1t/Breathwork-1.jpg?rlkey=aqh6h0465v38nt3djbs8uq0zp&st=s91x31q4&raw=1);
    background-position: bottom;
}
.photos-breathwork .photos-2{
    background-image: url(https://www.dropbox.com/scl/fi/2d25q1ed5dhcr4bply3zu/energy_sessions.jpg?rlkey=llzpervjjyz3gs3ysl0h7mcrl&st=nnkd14uf&raw=1);
}
.photos-breathwork .photos-3{
    background-image: url(https://www.dropbox.com/scl/fi/6r6hh2kq57f1hkub73yfe/lotus-qijong.jpg?rlkey=b4zzv6668pe3mixeh5up8jd2f&st=dc9j9cjd&raw=1);
}
.photos-breathwork .photos-4{
    background-image: url(https://www.dropbox.com/scl/fi/3i3x10abxj1bngdgscq9a/meditation-photos-4.jpg?rlkey=jelclmnfbj436xzmrlfrlfds5&st=2kemkud6&raw=1);
}
.photos-breathwork .photos-5{
    background-image: url(https://www.dropbox.com/scl/fi/by1aw0h7figq4tixvfz4f/meditation-photos-3.jpg?rlkey=lnor5pn1gw98o5n3xwxdtzj55&st=dddxqikq&raw=1);
}
.photos-breathwork .photos-6{
    background-image: url(https://www.dropbox.com/scl/fi/zqvj65u4d2fgklbv43aap/meditation-photos-2.jpg?rlkey=e7dhyhktpwjqmxc9mw8bbn7ac&st=ksnaq549&raw=1);
}
.photos-breathwork .photos-7{
    background-image: url(https://www.dropbox.com/scl/fi/wkg0muwclshja7qnlgdxr/meditation-photos-1.jpg?rlkey=9z04e0aw5zba7umo4o3l7qd9r&st=s2ddz6pz&raw=1);
    background-position: bottom;
}









@media screen and (max-width: 1000px) {
.slide-show-wrapper{
    background-color:#1F847E;
    padding: 20px 0px;
    width: 100%;
}
    .slide {
      display: inline-block;
      margin: 0 30px;
      font-size: 20px;
    }

.offerings-intro-image{
    box-shadow: inset 2500px 0 0 0 rgba(0, 0, 0, 0.2);
    height: 80vh;
}
.offerings-intro-image h1{
    color: #ece8e7;
}
.list-of-offers{
    padding: 50px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #ece8e7;
}
.total-offers{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin: 0px 0px 50px 0px;
}
.total-offers a{
    width: 100%;
    border-radius: 8px;
    height: 30vh;
    margin: 20px 0px;
}
.total-offers a h3{
    font-size: 20px;
}

.list-of-offers h4{
    color: #1f847e;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    width: 80%;
}
#schedule{
    font-size: 18px;
}
.qigong-intro{
 background-repeat: no-repeat;
 background-position: center;
}
.qigong-wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    color: #734982;
}
.qigong-wrapper h3{
    font-size: 25px;
    line-height: 38px;
    margin: 30px 0px;
    text-align: center;
}
.qigong-details{
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.inner-qigong-details{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: first baseline;
}
.inner-qigong-details h4{
    font-size: 25px;
    line-height: 38px;
    margin: 20px 0px;
}
.inner-qigong-details p{
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0px;
}
.inner-qigong-details ul{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: first baseline;
    padding: 0px 0px 0px 30px;
}
.inner-qigong-details ul li{
    font-size: 18px;
    line-height: 30px;
    list-style-type: square;
}
.inner-qigong-details h6{
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0px;
}
.inner-qigong-details article{
    font-size: 18px;
    line-height: 30px;
}
.inner-qigong-details a{
    background-color: #734982;
    padding: 10px 40px;
    margin: 20px 0px;
    transition: ease-in-out 0.5s;
    font-size: 18px;
}
.inner-qigong-details a:hover{
    background-color: #ece8e7;
    padding: 10px 40px;
    margin: 20px 0px;
    color: #734982;
    transition: ease-in-out 0.5s;
}
.qigong-video{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
}
.bg-video {
      width: 100%;
      height: 80%;
      object-fit: cover;
      z-index: -1;
}
.book-a-session a{
    font-size: 20px;
}
.book-a-session a:hover{
    font-size: 20px;
}
/*
BREATHWORK
*/


.breathwork-intro-image{
    height: 80vh;
    padding: 200px 0px 0px 0px;
}
.breathwork-intro-image h1{
    font-size: 30px;
    color: #ECE8E7;
    line-height: 60px;
}
.breathwork-intro-image h6{
    font-size: 20px;
    color: #ECE8E7;
    line-height: 35px;
    width: 80%;
}
.expectations{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 50px 0px;
    margin: 20px 0px;
}
.expectations article{
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 0px;
    color: #d9f8f6;
    margin: 20px 0px;
}
.expectations article:hover{
    transition: all ease-in-out 0.5s;
    background-position: top;
    font-size: 20px;
}
.what-is-breathwork{
    flex-flow: column;
    padding: 50px;
}

.video-background {
      width: 100%;
      height: 80vh;
      object-fit: cover; 
      margin: 20px 0px;
}
.left-content, .right-content{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: start;
}
.what-is-breathwork h1{
    color: #1F847E;
    font-size: 25px;
    line-height: 55px;
}
.what-is-breathwork h2{
    color: #1f847db3;
    line-height: 55px;
    font-size: 20px;
}
.what-is-breathwork p{
    color: #1F847E;
    font-size: 18px;
    line-height: 28px;
}
.what-is-breathwork h6{
    font-size: 20px;
    line-height: 55px;
    width: 100%;
    text-align: center;
    color: #ECE8E7;
    background-color: #1f847e;
    margin: 20px 0px;
}
.what-is-breathwork ul{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 5px 30px;
}
.what-is-breathwork ul li{
    font-size: 18px;
    line-height: 28px;
    color: #1F847E;
    list-style: square;
    margin: 5px 0px;
}
.right-content h3{
    color: #1F847E;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 30px;
}
.right-content article{
    font-size: 18px;
    line-height: 28px;
    color: #1F847E;
    list-style: square;
    margin: 5px 0px;
}
.right-content ul{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 5px 30px;
}
.right-content ul li{
    font-size: 18px;
    line-height: 28px;
    color: #1F847E;
    list-style: square;
    margin: 5px 0px;
}
.right-contact-us{
    color: #1F847E;
    padding-bottom: 10px;
    border-bottom: solid 2px #1F847E;
    font-size: 25px;
    transition: all ease-in-out 0.3s;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}



}